@model Computer

@{
    ViewData["Title"] = "Cadastrar Computador";
}

<div class="text">
    <h1 class="display-4">Cadastrar Computador</h1>
    <hr>
       
</div>
<div class="container">
    <form asp-controller="Computer" asp-action="Create" method="POST">
        <div class="form-group">
            <label asp-for="Id">Id</label>
            <input type="text" asp-for="Id" class="form-control" required>
        </div>  
        <div class="form-group" >
            <label asp-for="Ram">Ram</label>
            <input type="text" asp-for="Ram" class="form-control" required>
            <span asp-validation-for="Ram"></span>
        </div> 
        <div class="form-group" >
            <label asp-for="Processor">Processador</label>
            <input type="text" asp-for="Processor" class="form-control" required>
        </div> 
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
    

