@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = "Atualizar Computadores";
}

<div class="text">
    <h1 class="display-4">Atualizar Computadores</h1>
    <hr>
       
</div>
<div class="container">
    <form asp-controller="Computer" asp-action="Update" asp-route-id="@Model.Id" method="POST">
        <div class="form-group">
            <label asp-for="Id">Id</label>
            <input type="text" asp-for="Id" class="form-control" value="@Model.Id" readonly>
        </div>  
        <div class="form-group" >
            <label asp-for="Ram">Ram</label>
            <input type="text" asp-for="Ram" class="form-control" value="@Model.Ram" required>   
            <span asp-validation-for="Ram"></span>
        </div> 
        <div class="form-group" >
            <label asp-for="Processor">Processador</label>
            <input type="text" asp-for="Processor" class="form-control" value="@Model.Processor" required>
            <span asp-validation-for="Processor"></span>
        </div> 
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
    

