@model Lab

@{
    ViewData["Title"] = "Cadastrar Laboratorio";
}

<div class="text">
    <h1 class="display-4">Cadastrar Laboratorio</h1>
    <hr>
       
</div>
<div class="container">
    <form asp-controller="Lab" asp-action="Create" method="POST">
        <div class="form-group">
            <label asp-for="Id">Id</label>
            <input type="text" asp-for="Id" class="form-control" required>
            <span asp-validation-for="Id"></span>
        </div>  
        <div class="form-group" >
            <label asp-for="Number">Número</label>
            <input type="text" asp-for="Number" class="form-control" required>
            <span asp-validation-for="Number"></span>
        </div> 
        <div class="form-group" >
            <label asp-for="Name">Nome</label>
            <input type="text" asp-for="Name" class="form-control" required>
            <span asp-validation-for="Name"></span>
        </div> 
        <div class="form-group" >
            <label asp-for="Sector">Bloco</label>
            <input type="text" asp-for="Sector" class="form-control" required>
            <span asp-validation-for="Sector"></span>
        </div> 
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
    

